@charset 'utf-8';
$breakpoints-for-screen: ( 'small':(max-width: 320px), 'medium':(min-width: 800px), 'large': (min-width: 1000px), 'huge': (min-width: 1200px));
@mixin respond-for($breakpoint) {
    $raw-query: map-get($breakpoints-for-screen, $breakpoint);
    @if $raw-query {
        $query: if( type-of($raw-query)=='string', unquote($raw-query), inspect($raw-query));
        @media #{$query} {
            @content;
        }
    }
    @else {
        @error 'No value found for `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
    }
}